* {
    height: 50%;
    text-align: center;
    
}

body {
    background-image: linear-gradient(to bottom, rgb(7, 158, 245), rgba(12, 239, 247, 0.336));
    background-attachment: fixed;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
    color: rgb(20, 6, 6);
}
button {
    background-color: brown;
    height: 80px;
    width: 180px;
    border-radius: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: 700px; 
    color: aliceblue;
    
}
button:hover{
    background-color: gold;
    color: brown;
    font: 700px;
}
p {
    margin-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: bolder;
    font-weight: 900;

}
