.dark{
    background-color: black;
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.section-01{
    padding-top: 30px;
}
.thema, .thema2{
    font-size: 20px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    color: rgb(79, 0, 128);
    background-color: rgb(239, 198, 17);
    font-weight: 700;
}

#enviar{
    font-size: 20px;
    width: 80px;
    height: 40px;
color: rgb(79, 0, 128);
    background-color: rgb(239, 198, 17);
    font-weight: 700;
    border-radius: 10px;
}

.title-h1,.title-h2{
   padding-top: 50px;

    color: rgb(94, 16, 167);
}

input{background-color: rgb(223, 171, 76);}

label{
    color: rgb(149, 28, 235);
    font-weight: 500;
    font-size: 20px;
    padding-right: 5px;
}
li{ color: rgb(157, 77, 242);
    font-weight: 500;
    font-size: 24px;
    padding-right: 5px;
}